<!DOCTYPE html>
<html>
  <head>
    <title>Social Media App </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">
    <!-- Add custom css specific here -->
  </head>
  <body>
  <!-- SECTION: NAVBAR -->
  <div class="ui secondary pointing menu">
    <h1>Social Media App</h1>
    <!-- NAVBAR RIGHT SIDE -->
    <div class="right menu">
        <a class="ui item" href="/register">
            <i class="plus square icon"></i>
            Create Account
          </a>
      
    </div>
  </div>


<!-- main page content -->

<h1> Login Page</h1>
<form action="/login" method="POST">
<input type="email" name="email" placeholder="email">
<input type="password" name="password" placeholder="password" required minlength="5">
<input type="submit" value="login">

</form>


    <!-- required scripts for jquery and semantic-ui -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.js"></script>
  </body>
</html>