<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">
    <title>Register</title>
    <link rel="stylesheet" href="/styles/main.css"> 
</head>
<body>

    <!-- Left side nav bar -->
    <div class="ui secondary pointing menu">
      
        <div class="left menu">
            <h1>Social Media App</h1>
          </div>
          <div class="right menu">
            <a class="ui item" href="/">
                <i class="plus square icon"></i>
                Login To Your Account
              </a>
        <a class="ui item" href="/register">
            <i class="plus square icon"></i>
            Create Account
          </a>
      </div>
    </div>
    
    <div class="registerPageContent">
        <form action="/register" method="POST" >
            <h1> Register for An Account</h1>
          <div class="ui input">
            <input type="text" name="firstName" placeholder="First Name" required>
          </div>
        <p> 
            <div class="ui input">
            <input type="text" name="lastName" placeholder="Last Name" required>
            </div>
        </p>
        <p> 
            <div class="ui input">
    <input type="text" name="userName" placeholder="username" required minlength="5">
            </div>
        </p>
    <p> 
        <div class="ui input">
    <input type="email" name="email" placeholder="email" required>
    </div>
    </p>
    <p> 
        <div class="ui input">
    <input type="password" name="password" placeholder="password" required minlength="5">
</div>
    </p>
    <p> 
        <div class="ui input">
        <input type="text" name="description" placeholder="Your Profile Description" required minlength="1" maxlength="150">
    </div>
    </p>
    <p> 
    <input type="submit" value="Register" class="ui primary button">
    </p>
</form>
</div>





    <!-- required scripts for jquery and semantic-ui -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.js"></script>
</body>
</html>