body {
    padding: 30px;
}

.userprofile__main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
}

.userprofile__posts {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 50%;
    padding-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}