body {
    padding: 30px;
}

.userprofile__main {
    display: flex;
    justify-content: center;
    align-items: center;
    padding-bottom: 30px;
}

.user__profilephoto {
    display: flex;
    justify-content: center;
}
.user_profilephoto_img {
    display: flex;
    border-radius: 50%;
    min-width: 20vh;
    padding: 10px;
}

.userprofile__posts {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 50%;
    padding-bottom: 30px;
    margin-left: auto;
    margin-right: auto;
}

.user__profilestats .ui.large.list {
    display:flex;
    margin-left: auto;
    margin-right: auto;
    min-width: 100%;
}


.user__profilebio {
    display:flex;
    margin-left: 25%;
    margin-right: 25%;
    padding-bottom: 1%;
    text-align: justify;
    }

    .mainPageSearchBar {
        display: flex;
        justify-content: center;
        margin-left: auto;
        margin-right: auto;
    }

.settingsHeader {
    padding-top: 15px;
    padding-bottom: 40px;
}

.userSettingsContent {
    display: flex;
    justify-content: center;
    margin-left: auto;
    margin-right: auto;
}

.settingButtons {
    display: flex;
    justify-content: center;
    padding: 10px;
    padding-top: 25px;
}

.settingsOptionsMenu {
    display: flex;
    justify-content: center;
}

.logoutButton {
    display: flex;
    justify-content: center;
    padding: 10px;
}

.bookmark icon:hover {
    opacity: 0.5;

}