<!DOCTYPE html>
<html>
  <head>
    <title>Social Media App </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">
    <!-- Add custom css specific here -->
  </head>


  <body>
  <!-- SECTION: NAVBAR -->
  <div class="ui secondary pointing menu">
    <h1>Social Media App</h1>
    <a class="item active" href="/">
      Home
    </a>
    <!-- TODO: Messages Update in Version 1.0 -->
    <a class="item" href="/comments/index">
      Comments
    </a>

    <a class="item" href="/users/index">
      Friends
    </a>
    <!-- NAVBAR RIGHT SIDE -->
    <div class="right menu">
      <a class="ui item" href="/posts/new">
        <i class="plus circle icon" ></i>
        New Post
      </a>
      <a class="ui item" href="/users/<%= user.id %>">
        <i class="user circle icon "></i>
        Profile
    </a>
    
      
    </div>
  </div>

  <!-- SECTION: SHOW ALL USERS BELOW TAGGED BY /friends ID -->
  <main>
  <h2> Friends List</h2>
    <% if(!users.length) { %>
      <p>There are no users in your friends list yet.</p>
    <% } %>

    <div class="ui middle aligned divided list">
      <% users.forEach(user => { %>
        <div class="item">
          <div class="right floated content">
            <div class="ui button">Add</div> <!-- add link to /users/user.id/followbuttonclick -->
          </div>
          <!-- <img class="ui avatar image" src="linkback to /users/user.photo"> -->
          <div class="content presentUsers">
            <a href="/users/<%= user._id %>"> <%= user.firstName %> - <%= user.userName %></a>
          </div>
        </div>
        
      
      <% }) %>
    </div>

    
      <!-- find(request.query) and then show users that fit query. use ?_ -->
   
     

    
  </main>




    <!-- required scripts for jquery and semantic-ui -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.js"></script>
  </body>
</html>