<!-- =================== NOTE: Might delete this New.ejs template since we are using Register.ejs as "New Route" Template -->
<!--  ==================================================================================================================  -->
<!--  ==================================================================================================================  -->
<!DOCTYPE html>
<html>
  <head>
    <title>Social Media App </title>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">
    <!-- Add custom css specific here -->
    <link rel="stylesheet" href="/styles/main.css"> 
  </head>


  <body>
  <!-- SECTION: NAVBAR -->
  <div class="ui secondary pointing menu">
    <h1>Social Media App</h1>
    <a class="item active" href="/">
      Home
    </a>
    <!-- TODO: Messages Update in Version 1.0 -->
    <a class="item" href="/comments/index">
      Comments
    </a>

    <a class="item" href="/users/index">
      Friends
    </a>
    <!-- NAVBAR RIGHT SIDE -->
    <div class="right menu">
        <a class="ui item">
          <i class="plus circle icon" href="/posts/new"></i>
          New Post
        </a>
      <a class="ui item" href="/users/<%= user.id %>">
        <i class="user circle icon "></i>
        Profile
    </a>
    
      
    </div>
  </div>

  <!-- SECTION: USER PROFILE CREATION PAGE BELOW -->

  <h1> Welcome to the Social Media App! Create a profile below</h1>

  <main>
    <form action="/users" method="POST">
      <input type="file" name="picture" placeholder="Find A Cool Profile Picture!" accept=".gif,.jpg,.jpeg,.png">
      <input type="text" name="firstName" placeholder="First Name" />
      <input type="text" name="lastName" placeholder="Last Name" />
      <input type="text" name="userName" placeholder="Choose Your Username" />
      <input type="text" name="description" placeholder="Add a Bio to Your Profile!" />
      <input type="submit" value="Create">
    </form>
  </main>

    <!-- required scripts for jquery and semantic-ui -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.js"></script>
  </body>
</html>